<#//Self replicating T4 file!

<#@ output extension=".tt" #><#string s="{0}@ output extension={2}.tt{2} {1}{0}string s={2}{3}{2};{1}{0}=string.Format(s,{2}{4}{2},{2}{5}{2},(char)34,s,string.Format({2}{6}{{0}}{2},{2}{4}{2}),string.Format({2}{6}{{0}}{2},{2}{5}{2}),{2}{6}{6}{2}){1}";#><#=string.Format(s,"\<#","\#>",(char)34,s,string.Format("\\{0}","\<#"),string.Format("\\{0}","\#>"),"\\\\")#>